Data/new_training_data.txt filter=lfs diff=lfs merge=lfs -text
large_file.bin filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
Data/more_data.txt filter=lfs diff=lfs merge=lfs -text
