#  .gitignore
.env
testCodes.py
youtube_fetch.log
Links and Teachings.txt
Data/big_data.txt
Data/new_training_data.txt
Data/more_data.txt
Data/large_data.txt
Data/txt files
Data Collection/extra.txt
*.pth